
$base-color: #3c7bcd;

.graph-emissions {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1440px;
    max-height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;


    .content {
        display: flex;
        height: 70%;
        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;

        .emmissions {
            background-color: rgb(0, 0, 0);
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            
            @import 'emmissions-chart';
        }

        .electricity {
            background-color: rgb(0, 0, 0);
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            

            @import 'emmissions-chart';

        }
    }

    .caption {
        color: white;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;

        p {
            max-width: 1130px;
            width: calc(100% - 100px);
            margin-left: auto;
            margin-right: auto;
            line-height: 2em;
        }

    }

}