


.chart-container {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;

    .title {
        font-size: 2em;
        width: 410px;
        text-align: center;
        padding-bottom: 40px;
        user-select: none;
    }

    .chart {
        .vertical-legend {
            //writing-mode: vertical-lr;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 0.7em;
            position: absolute;
          //  text-orientation: sideways-right;
        }

        .bar-sets {
            display: flex;
            width: 100%;
            height: 200px;
            justify-content: space-between;
            align-items: flex-end;
            padding-right: 10px;
            box-sizing: border-box;

            &::before {
                content: "PERCENT (%) REDUCTION";
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                font-size: 0.7em;
                letter-spacing: 0.4px;
                width: 35px;
                user-select: none;
            }

            .bar-content {
                width: calc(100% - 35px);
                display: flex;
                justify-content: space-between;

                .bar {
                    visibility: visible;
                    display: flex;
                    width: 76px;
                    justify-content: space-between;

                    .small-bar {
                        width: 16px;
                        height: 200px;
                        background-color: #3c7bcd;
                        transform-origin: 50% 100%;
                        transform: scaleY(0);

                        &:nth-child(1){
                            filter: brightness(100%);
                        }

                        &:nth-child(2){
                            filter: brightness(80%);
                        }

                        &:nth-child(3){
                            filter: brightness(60%);
                        }
                    }
                }
            }
        }

        .chart-legends {
            .devider-line {
                margin-top: 10px;
                margin-bottom: 5px;

                width: 100%;
                height: 3px;
                background-color: white;
            }
            .years {
                display: flex;
                position: relative;
                left: 14px;
                width: 86%;
                margin-left: auto;
                margin-right: auto;
                justify-content: space-between;
                .year {
                    font-size: 1.6em;
                    user-select: none;
                }
            }
        }
    }

    .legends {
        padding-top: 20px;
        display: flex;
        width: calc(100% - 50px);
        max-width: 320px;
        position: relative;
        left: 30px;

        font-size: 0.8em;
        justify-content: space-between;

        .each-legend {
            position: relative;
            width: auto;
            user-select: none;

            &::before {
                content: "";
                left: -30px;
                width: 16px;
                height: 16px;
                top: 0px;
                border: 1px solid rgb(165, 165, 165);
                background-color: #3c7bcd;
                position: absolute;
            }

            &:nth-child(1) {&::before {filter: brightness(100%);}}
            &:nth-child(2) {&::before {filter: brightness(80%);}}
            &:nth-child(3) {&::before {filter: brightness(60%);}}

        }
    }
}