


.small-bar-color-mumbai {
    background-color: $color-mumbai;
}

.small-bar-color-la {
    background-color: $color-la;
}

.small-bar-color-london {
    background-color: $color-london;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    color: white;
    pointer-events: none;
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
   // bottom: 40px;
   // margin-bottom: 100px;
   box-sizing: border-box;
   
}

.chart-container {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    left: 50px;

    @include breakpoint ("mobile") {
        width: 300px;
        margin-top: 30px;
    }

    .title {
        font-size: 2em;
        width: 410px;
        text-align: center;
        padding-bottom: 40px;
        user-select: none;
        position: relative;
        left: -25px;

        @include breakpoint ("mobile") {
          font-size: 18px;
          width: 300px;
          padding-bottom: 20px;
         
        }
    }

    .chart {
        .vertical-legend {
            height: 100%;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
           
            position: relative;
            bottom: -12px;
            left: -46px;

            .legend-copy {
                font-size: 12px;
                width: 24px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .legend-val {
                display: flex;
                justify-content: space-between;

                .legend-val-item {
                    transform: rotate(90deg);
                    font-size: 11px;
                }
            }

            .line {
                height: 100%;
                width: 3px;
                background-color: white;
                margin-right: 8px;
            }
        }

        .bar-sets {
            display: flex;
            width: 100%;
            height: calc(200px);
            justify-content: space-between;
            align-items: flex-end;
           // padding-right: 10px;
            box-sizing: border-box;
            position: relative;

            @include breakpoint ("mobile") {
                height: 150px;
            }

            .bar-content {
                width: 100%;
                display: flex;
               justify-content: space-between;
                height: 92%;
                position: relative;
                left: -35px;

                .bar {
                    visibility: visible;
                    display: flex;
                    width: 100px;
                   // justify-content: space-between;
                    justify-content: center;
                    position: relative;
                    height: 100%;

                    @include breakpoint ("mobile") {
                       width: 60px;
                    }

                    .small-bar {
                        // width: 10px;
                        width: 100%;
                        max-width: 12px;
                        margin: 0px 2px;
                        height: 200px;
                        align-self: flex-end;
                       // background-color: #3c7bcd;
                       // transform-origin: 50% 100%;
                      //  transform: scaleY(0);
                      position: relative;
                    //  bottom: 0px;
                        box-sizing: border-box;


                        &:nth-child(1){
                            filter: brightness(100%);
                        }

                        &:nth-child(2){
                            filter: brightness(90%);
                        }

                        &:nth-child(3){
                            filter: brightness(80%);
                        }

                        &:nth-child(4){
                            filter: brightness(70%);
                        }

                        &:nth-child(5){
                            filter: brightness(60%);
                        }

                        &:nth-child(6){
                            filter: brightness(50%);
                        }

                        &:nth-child(7){
                            filter: brightness(40%);
                        }


                        &:hover {
                           background-color: white;
                           filter: brightness(100%);
                        }


                        @include breakpoint ("mobile") {
                            width: 14px;
                            height: 150px;
                        }
                    }
                }
            }
        }

        .chart-legends {
            .devider-line {
                margin-top: 10px;
                margin-bottom: 5px;

                width: 92%;
                height: 3px;
                background-color: white;
            }
            .years {
                display: flex;
                position: relative;
                left: -8px;
                width: 82%;
                margin-left: auto;
                margin-right: auto;
                justify-content: space-between;
                .year {
                    font-size: 1.6em;
                    user-select: none;

                    @include breakpoint ("mobile") {
                       font-size: 16px;
                    }
                }
            }
        }
    }

    .legends {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
       // width: calc(100% - 50px);
        width: 100%;
        max-width: 380px;
        position: relative;
        left: 30px;

        div {
            opacity: 0;
            animation: fadein 0.5s forwards 0.5s ;
        }
       

        font-size: 0.8em;
       // justify-content: space-between;

        @include breakpoint ("mobile") {
            font-size: 9px;
            width: 100%;
            max-width: unset;
         }

         .each-legend-extend {
            position: relative;
            width: 65px;
            padding-right: 30px;
            padding-bottom: 10px;
            user-select: none;
            

            @include breakpoint ("mobile") {
                width: 40px;
                padding-right: 30px;
             }

            &:nth-child(1) {&::before {filter: brightness(100%);}}
            &:nth-child(2) {&::before {filter: brightness(90%);}}
            &:nth-child(3) {&::before {filter: brightness(80%);}}
            &:nth-child(4) {&::before {filter: brightness(70%);}}
            &:nth-child(5) {&::before {filter: brightness(60%);}}
            &:nth-child(6) {&::before {filter: brightness(50%);}}
            &:nth-child(7) {&::before {filter: brightness(40%);}}

            &::before {
                content: "";
                left: -30px;
                width: 16px;
                height: 16px;
                top: 0px;
                border: 1px solid rgb(165, 165, 165);
                position: absolute;
                background-color: #303030;
            }
         }

        .each-legend-mumbai {
            @extend .each-legend-extend;
            &::before {background-color: $color-mumbai;}
           
        }

        .each-legend-london {
            @extend .each-legend-extend;
            &::before {background-color: $color-london;}
           
        }

        .each-legend-la {
            @extend .each-legend-extend;
            &::before {background-color: $color-la;}
        
        }
    }
}