


$Value-1: 750%;
$Value-2: 400%;
$Value-3: 250%;
$Value-4: 100%;
$Value-5: 80%;
$Value-6: 60%;
$Value-7: 35%;

$pm-london: #05edff;
$no-london: #60affe;
$ghg-london: #3300ff;
$solar-london: #DBFEF8;
$wind-london: #97ffff;
$hydro-london: #05edff;
$nuclear-london: #b0e2ff;
$gas-london: #60affe;
$oil-london: #88ace0;
$coal-london: #3300ff;

$pm-la: #fff0f5;
$no-la: #ff69b4;
$ghg-la: #ff007f;
$solar-la: #fff0f5;
$wind-la: #ffcccc;
$hydro-la: #ffb5c5;
$nuclear-la: #ffbbff;
$gas-la: #ff69b4;
$oil-la: #ff00cc;
$coal-la: #ff007f;

$pm-mumbai: #a4dcd1;
$no-mumbai: #00ff00;
$ghg-mumbai: #79973f;
$solar-mumbai: #98fb98;
$wind-mumbai: #00ffcc;
$hydro-mumbai: #a4dcd1;
$nuclear-mumbai: #00ff00;
$gas-mumbai: #00cd00;
$oil-mumbai: #79973f;
$coal-mumbai: #008b45;


.small-bar-color-mumbai {
    background-color: $color-mumbai;
}

.small-bar-color-la {
    background-color: $color-la;
}

.small-bar-color-london {
    background-color: $color-london;
}

.color-pm-london        { background-color: $pm-london;}
.color-no-london        { background-color: $no-london;}
.color-ghg-london       { background-color: $ghg-london;}
.color-solar-london     { background-color: $solar-london;}
.color-wind-london      { background-color: $wind-london;}
.color-hydro-london     { background-color: $hydro-london;}
.color-nuclear-london   { background-color: $nuclear-london;}
.color-gas-london       { background-color: $gas-london;}
.color-oil-london       { background-color: $oil-london;}
.color-coal-london      { background-color: $coal-london;}

.box-pm-london          { &::before {background-color: $pm-london;} }
.box-no-london          { &::before {background-color: $no-london;} }
.box-ghg-london         { &::before {background-color: $ghg-london;} }
.box-solar-london       { &::before {background-color: $solar-london;} }
.box-wind-london        { &::before {background-color: $wind-london;} }
.box-hydro-london       { &::before {background-color: $hydro-london;} }
.box-nuclear-london     { &::before {background-color: $nuclear-london;} }
.box-gas-london         { &::before {background-color: $gas-london;} }
.box-oil-london         { &::before {background-color: $oil-london;} }
.box-coal-london        { &::before {background-color: $coal-london;} }

.color-pm-la            { background-color: $pm-la;}
.color-no-la            { background-color: $no-la;}
.color-ghg-la           { background-color: $ghg-la;}
.color-solar-la         { background-color: $solar-la;}
.color-wind-la          { background-color: $wind-la;}
.color-hydro-la         { background-color: $hydro-la;}
.color-nuclear-la       { background-color: $nuclear-la;}
.color-gas-la           { background-color: $gas-la;}
.color-oil-la           { background-color: $oil-la;}
.color-coal-la          { background-color: $coal-la;}

.box-pm-la          { &::before {background-color: $pm-la;} }
.box-no-la          { &::before {background-color: $no-la;} }
.box-ghg-la         { &::before {background-color: $ghg-la;} }
.box-solar-la       { &::before {background-color: $solar-la;} }
.box-wind-la        { &::before {background-color: $wind-la;} }
.box-hydro-la       { &::before {background-color: $hydro-la;} }
.box-nuclear-la     { &::before {background-color: $nuclear-la;} }
.box-gas-la         { &::before {background-color: $gas-la;} }
.box-oil-la         { &::before {background-color: $oil-la;} }
.box-coal-la        { &::before {background-color: $coal-la;} }

.color-pm-mumbai        { background-color: $pm-mumbai;}
.color-no-mumbai        { background-color: $no-mumbai;}
.color-ghg-mumbai       { background-color: $ghg-mumbai;}
.color-solar-mumbai     { background-color: $solar-mumbai;}
.color-wind-mumbai      { background-color: $wind-mumbai;}
.color-hydro-mumbai     { background-color: $hydro-mumbai;}
.color-nuclear-mumbai   { background-color: $nuclear-mumbai;}
.color-gas-mumbai       { background-color: $gas-mumbai;}
.color-oil-mumbai       { background-color: $oil-mumbai;}
.color-coal-mumbai      { background-color: $coal-mumbai;}

.box-pm-mumbai          { &::before {background-color: $pm-mumbai;} }
.box-no-mumbai          { &::before {background-color: $no-mumbai;} }
.box-ghg-mumbai         { &::before {background-color: $ghg-mumbai;} }
.box-solar-mumbai       { &::before {background-color: $solar-mumbai;} }
.box-wind-mumbai        { &::before {background-color: $wind-mumbai;} }
.box-hydro-mumbai       { &::before {background-color: $hydro-mumbai;} }
.box-nuclear-mumbai     { &::before {background-color: $nuclear-mumbai;} }
.box-gas-mumbai         { &::before {background-color: $gas-mumbai;} }
.box-oil-mumbai         { &::before {background-color: $oil-mumbai;} }
.box-coal-mumbai        { &::before {background-color: $coal-mumbai;} }




  // .box-coal { &::before {filter: brightness($Value-7);}}
        // .box-oil { &::before {filter: brightness($Value-6);}}
        // .box-nuclear { &::before {filter: brightness($Value-5);}}
        // .box-gas { &::before {filter: brightness($Value-4);}}
        // .box-hydro { &::before {filter: brightness($Value-3);}}
        // .box-wind { &::before {filter: brightness($Value-2);}}
        // .box-solar { &::before {filter: brightness($Value-1);}}


.chart-container {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    left: 50px;

    @include breakpoint ("mobile") {
        width: 300px;
        margin-top: 30px;
        left: 35px;
    }

    .title {
        font-size: 2em;
        width: 410px;
        text-align: center;
        padding-bottom: 40px;
        user-select: none;
        position: relative;
        left: -25px;

        @include breakpoint ("mobile") {
          font-size: 18px;
          width: 300px;
          padding-bottom: 20px;
         
        }
    }

    .chart {

        .tooltip {
            position: absolute;
            width: 100%;
            height: 200px;
            z-index: 9999;
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); 
            pointer-events: none;
            display: none;
            padding-left: 30px;
            padding-top: 50px;
           // padding: 10px;
            font-size: 14px;
            opacity: 0;
            animation: fadein 0.5s forwards 0s ;
           // text-align: center;
        }
        .vertical-legend {
            height: 100%;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
           
            position: relative;
            bottom: -12px;
            left: -46px;

            .legend-copy {
                font-size: 12px;
                width: 24px;
                text-transform: uppercase;
                letter-spacing: 1px;

                @include breakpoint ("mobile") {
                    font-size: 8px;
                }
            }

            .legend-val {
                display: flex;
                justify-content: space-between;

                .legend-val-item {
                    transform: rotate(90deg);
                    font-size: 11px;
                }
            }

            .line {
                height: 100%;
                width: 3px;
                background-color: white;
                margin-right: 8px;
            }
        }

        .bar-sets {
            display: flex;
            width: 100%;
            height: calc(200px);
            justify-content: space-between;
            align-items: flex-end;
           // padding-right: 10px;
            box-sizing: border-box;
            position: relative;

            @include breakpoint ("mobile") {
                height: 150px;
            }

            .bar-content {
                width: 100%;
                display: flex;
               justify-content: space-between;
                height: 92%;
                position: relative;
                left: -35px;

                .bar {
                    visibility: visible;
                    display: flex;
                    width: 100px;
                   // justify-content: space-between;
                    justify-content: center;
                    position: relative;
                    height: 100%;

                    @include breakpoint ("mobile") {
                       width: 60px;
                    }


                    .active {
                        background-color: rgb(255, 255, 255);
                        filter: brightness(100%);
                        width: 100%;
                        max-width: 12px;
                        margin: 0px 2px;
                        height: 200px;
                        align-self: flex-end;
                        position: relative;
                        box-sizing: border-box;

                        span {
                            pointer-events: none;
                            height: 30px;
                            position: absolute;
                            left: -10px;
                            top: -20px;
                            z-index: 999999;
                            color: white;
                            filter: brightness(100%);
                            font-size: 12px;
                            display: none;
                        }

                        @include breakpoint ("mobile") {
                            width: 14px;
                            height: 150px;
                        }
                    }

                    // .bar-pm { filter: brightness(90%);}
                    // .bar-no { filter: brightness(60%);}
                    // .bar-ghgas { filter: brightness(40%);}

                    .small-bar {
                        // width: 10px;
                        width: 100%;
                        max-width: 12px;
                        margin: 0px 2px;
                        height: 200px;
                        align-self: flex-end;
                        position: relative;
                        //  bottom: 0px;
                        box-sizing: border-box;



                        &:hover {
                            background-color: rgb(255, 255, 255);
                            filter: brightness(100%);
                         }


                        @include breakpoint ("mobile") {
                            width: 14px;
                            height: 150px;
                        }

                        span {
                            pointer-events: none;
                            height: 30px;
                            position: absolute;
                            left: -10px;
                            top: -20px;
                            z-index: 999999;
                            color: white;
                            filter: brightness(100%);
                            font-size: 12px;
                            display: none;
                        }

                  
                    }
                }
            }
        }

        .chart-legends {
            .devider-line {
                margin-top: 10px;
                margin-bottom: 5px;

                width: 92%;
                height: 3px;
                background-color: white;
            }
            .years {
                display: flex;
                position: relative;
                left: -8px;
                width: 82%;
                margin-left: auto;
                margin-right: auto;
                justify-content: space-between;
                .year {
                    font-size: 1.6em;
                    user-select: none;

                    @include breakpoint ("mobile") {
                       font-size: 16px;
                    }
                }
            }
        }
    }

    .legends {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        font-size: 0.8em;
        width: 100%;
        max-width: 380px;
        position: relative;
        left: 30px;

        
        // .box-coal { &::before {filter: brightness($Value-7);}}
        // .box-oil { &::before {filter: brightness($Value-6);}}
        // .box-nuclear { &::before {filter: brightness($Value-5);}}
        // .box-gas { &::before {filter: brightness($Value-4);}}
        // .box-hydro { &::before {filter: brightness($Value-3);}}
        // .box-wind { &::before {filter: brightness($Value-2);}}
        // .box-solar { &::before {filter: brightness($Value-1);}}

        // .box-pm { &::before {filter: brightness(90%);}}
        // .box-no { &::before {filter: brightness(50%);}}
        // .box-ghgas { &::before {filter: brightness(30%);}}
        

        div {
            opacity: 0;
            animation: fadein 0.5s forwards 0.5s ;
        }
       

       

        @include breakpoint ("mobile") {
            font-size: 9px;
            width: 100%;
            max-width: unset;
         }

         .each-legend-extend {
            position: relative;
            width: 65px;
            padding-right: 30px;
            padding-bottom: 10px;
            user-select: none;
            cursor: pointer;
            

            @include breakpoint ("mobile") {
                width: 40px;
                padding-right: 30px;
             }

            // &:nth-child(1) {&::before {filter: brightness(100%);}}
            // &:nth-child(2) {&::before {filter: brightness(90%);}}
            // &:nth-child(3) {&::before {filter: brightness(80%);}}
            // &:nth-child(4) {&::before {filter: brightness(70%);}}
            // &:nth-child(5) {&::before {filter: brightness(60%);}}
            // &:nth-child(6) {&::before {filter: brightness(50%);}}
            // &:nth-child(7) {&::before {filter: brightness(40%);}}

            &::before {
                content: "";
                left: -30px;
                width: 16px;
                height: 16px;
                top: 0px;
                border: 1px solid rgb(165, 165, 165);
                position: absolute;
               // background-color: #303030;


                @include breakpoint ("mobile") {
                    width: 8px;
                    height: 8px;
                    left: -18px;
                }

                // &:hover{
                //     border: 1px solid rgb(230, 0, 0);
                // }
            }

            &:hover {
               

                &::before {
                    border: 1px solid rgb(255, 255, 255);
                    background-color: white;
                    filter: brightness(100%);
                }
            }
         }

        .each-legend-mumbai {
            @extend .each-legend-extend;
           // &::before {background-color: $color-mumbai;}
           
        }

        .each-legend-london {
            @extend .each-legend-extend;
           // &::before {background-color: $color-london;}
           
        }

        .each-legend-la {
            @extend .each-legend-extend;
           // &::before {background-color: $color-la;}
        
        }
    }
}