
//$base-color: #3c7bcd;

.graph-emissions {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1440px;
    max-height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
   // font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;

    @include breakpoint ("mobile") {
       // height: auto;
       max-height: unset;
       min-height: 800px;
       height: auto;
       display: block;
    }


    .content {
        display: flex;
        height: 70%;
        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;


        @include breakpoint ("mobile") {
            flex-direction: column;
            height: 100%;
        }

        .emmissions {
            background-color: rgb(0, 0, 0);
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            
            @import 'emmissions-chart';

            @include breakpoint ("mobile") {
               height: 50%;
               width: 100%;
            }
        }

        .electricity {
            background-color: rgb(0, 0, 0);
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            

            @import 'emmissions-chart';

            @include breakpoint ("mobile") {
                height: 50%;
                width: 100%;
             }

        }
    }

    .caption {
        color: white;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;

        .rollover-copy {
            max-width: 1130px;
            width: calc(100% - 100px);
            margin-left: auto;
            margin-right: auto;
            line-height: 22px;
            display: none;
            opacity: 0;
            animation: fadein 0.5s forwards 0.1s ;
            position: relative;
            bottom: 20px;
        }

        .original-copy {
            max-width: 1130px;
            width: calc(100% - 100px);
            margin-left: auto;
            margin-right: auto;
            //line-height: 1.5em;
            opacity: 0;
            animation: fadein 0.5s forwards 0.1s ;

            p {
                font-size: 16px;
                line-height: 23px;
                
            }

            @include breakpoint ("mobile") {
                p {
                    font-size: 13px;
                    line-height: 20px;
                    padding-left: 20px;
                    padding-right: 12px;
                    width: calc(100% - 40px);
                }
            }
        }

        @include breakpoint ("mobile") {
           position: relative;
           padding-top: 20px;

           .original-copy {
               width: 100%;
           }
         }

        p {
            @include breakpoint ("mobile") {
                font-size: 12px;
                width: calc(100% - 20px);
                padding-left: 10px;
                line-height: 16px;
             }
        }

    }

}