




#site-intro-animation {
    @include bgimage("hero.png");
    max-width: 1440px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}