

.graph-parking {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1440px;
    max-height: 600px;
    background-color: black;
    display: flex;
    flex-direction: row;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
   // font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;

    @include breakpoint ("mobile") {
        flex-direction: column;
    }
   
    .selected {
        color: #0c5dc5;
        
       &::after {
        content: "";
        width: 100px;
        left: -20px;
        top: 44px;
        height: 3px;
        background-color: #0c5dc5;
        position: absolute;
        pointer-events: none;
       }
    }

    #graph-content {
        position: relative;
        width: 70%;
        height: 100%;
        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;

        @include breakpoint ("mobile") {
            width: 100%;
            height: 400px;
        }
    

        #grid {
            display: flex;
            flex-wrap: wrap;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-self: center;
            padding-top: 100px;
        }

        .icon {
            width: 9%;
            height: 55px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin: 2px;
            opacity: 0;
            animation: fadein 0.5s forwards 0.1s ;
        }

        .icon-car {@include bgimage("icon-car.svg");}
        .icon-house {@include bgimage("icon-car.svg");}
        .icon-tree {@include bgimage("icon-tree.svg");}

        .nav {
            display: flex;
            width: 400px;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            left: 0px;
            right: 0px;
            position: absolute;
            bottom: calc(60px + 50px);
            font-size: 1.3em;

            .nav-year {
                position: relative;
                font-size: 1.2em;
                cursor: pointer;
                user-select: none;
            }
        }

        .hint {
            font-size: 0.8em;
            position: absolute;
            text-align: center;
            user-select: none;
            bottom: calc(50px);
            width: 100%;

            @include breakpoint ("medium") {
                font-size: 0.7em;
            }

            @include breakpoint ("small") {
                font-size: 0.7em;
            }
           // float: bottom;
        }
    }

    #graph-copy {
        p {
            padding: 0px;
            margin-top: 0px;
        }

        display:flex;
        flex-direction: column;
        align-self: center;

        width: calc(100% - 70%);
        font-size: 1.1em;
        line-height: 2em;
        padding-right: 50px;

        opacity: 0;
        animation: fadein 0.5s forwards 0.1s ;


        @include breakpoint ("medium") {
            font-size: 1em;
        }

        @include breakpoint ("small") {
            font-size: 0.9em;
        }

        @include breakpoint ("mobile") {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            box-sizing: border-box;
            font-size: 0.9em;
        }
    }



}