
// Base Colors
$shade-10: #2774c0 !default;
$shade-1: #fff !default;
$shade-0: #fff !default;
$teal: #2774c0 !default;
// Range Slider
$range-width: 100% !default;
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal;
$range-handle-size: 20px !default;
$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;
$range-label-color: $shade-10 !default;
$range-label-width: 0px !default;


.vchargesBG-mumbai {
    @include bgimage("map-mumbai.jpg");
}

.vchargesBG-la {
    @include bgimage("map-la.jpg");
}

.vchargesBG-london {
    @include bgimage("map-london.jpg");
}

.charge-dot-mumbai {
    background: $color-mumbai;
}

.charge-dot-la {
    background: $color-la;
}

.charge-dot-london {
    background: $color-london;
}


.graph-vehicle-charges {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1440px;
    max-height: 600px;
    background-color: black;
   // display: flex;
   // flex-direction: row;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    opacity: 0;
    animation: fadein 0.5s forwards 0.1s ;


    //@include bgimage("map-la.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include breakpoint ("mobile") {
        height: 475px;
     }

    .mapholder {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: 50% 0%;
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint ("mobile") {
            height: 250px;
            bottom: 0px;
            //min-width: 414px;
            width: 100%;
            background-size: 100% 100%;
        }
    }

    .content-common {
        position: absolute;
        width: 380px;
        height: 300px;
        opacity: 0;
        animation: fadein 0.5s forwards 0.5s ;

        @include breakpoint ("mobile") {
            width: calc(100% - 20px);
            right: 0px;
            left: 15px !important;
            position: absolute;
            top: 20px !important;
            height: auto;
           // padding-top: 40px;
        }

        .content-copy p {
            line-height: 1.5em;
            margin-bottom: 8px;

            @include breakpoint ("mobile") {
                padding-top: 0px;
                margin-top: 0px;
                width: 100%;
                padding-right: 10px;
                box-sizing: border-box;
                font-size: 12px;
                line-height: 21px;
            }
        }

        .deviderline {
            // position: absolute;
             width: 95%;
             height: 5px;
             background-color: rgba(255,255,255,0.5);

             @include breakpoint ("mobile") {
                height: 2px;
            }
         }

         .legend {
            padding-top: 20px;

            .val-container {
                display: flex;
                flex-direction: row;
                margin-top: 5px;

                .sample-dot {
                    width: 15px;
                    height: 15px;
                    background-color: rgb(65, 65, 65);
                    margin-right: 10px;
                    border-radius: 50%;
                    align-self: center;
                    box-sizing: border-box;
                    margin-top: 3px;
                }
            }

            @include breakpoint ("mobile") {
               font-size: 14px;
               padding-top: 15px;
            }
        }
    }

    .contents {
        @extend .content-common;
    }

    .mumbai {
        @extend .content-common;
       // position: relative;
        left: 90px;
        top: 70px;
    }

    .la {
        @extend .content-common;
       // position: relative;
        left: calc(100% - 550px);
        top: 70px;
    }

    .london {
        @extend .content-common;
        //position: relative;
        left: 90px;
        top: 70px;
    }

    .sliderModule {
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0px;
        background-color: rgba(0,0,0,0.2);

        opacity: 0;
        animation: fadein 0.5s forwards 0.8s ;

        @include breakpoint ("mobile") {
            height: 100px;
        }

        .hint {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-style: italic;
            font-size: 14px;
            color: rgb(209, 209, 209);
            user-select: none;
            pointer-events: none;

            @include breakpoint ("mobile") {
                display: none;
            }
        }


        .years {
            position: absolute;
            padding-top: 10px;
            display: flex;
            width: 50%;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;

            @include breakpoint ("mobile") {
                padding-top: 15px;
                width: calc(100% - 100px);
            }


            .year {
                font-size: 2em;

                @include breakpoint ("mobile") {
                    font-size: 16px;
                }

            }
            
        }


        .range-slider {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 65px;

            @include breakpoint ("mobile") {
                width: calc(100% - 100px);
                padding-top: 50px;
            }

            .sliderDotContainer {
                position: relative;
                //padding-left: -5px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
               // top: -20px;
                display: flex;
                justify-content: space-between;
                pointer-events: none;
                user-select: none;


                .dot {
                   // padding-top: 4px;
                   // box-sizing: border-box;
                    width: 22px;
                    height: 22px;
                    background-color: white;
                    border-radius: 50%;
                    position: relative;
                    top: -1px;
                }
            }

            // &::after {
            //     content: "drag the slider to see the increasing number of electric vehicle chargers over time";
            //     text-align: center;
            // }
        }

        .range-slider-common {
            position: relative;
            left: 2px;
            top: -23px;
            -webkit-appearance: none;
            width: calc(100% - 4px);
            margin-left: auto;
            margin-right: auto;
            height: $range-track-height;
            border-radius: 5px;
            background: $range-track-color;
            outline: none;
            padding-left: 2px;
            padding-right: 2px;
            box-sizing: border-box;

            &::-webkit-slider-thumb {
                appearance: none;
                width: 14px;
                height: 30px;
               // margin-left:4px;
               // margin-right: 4px;
              //  box-sizing: border-box;
                // width: $range-handle-size;
                // border-radius: 50%;
                cursor: pointer;
                transition: background .15s ease-in-out;
                position: relative;
               // left: -4px;
            }

            &::-moz-range-thumb {
                // width: $range-handle-size;
                // height: $range-handle-size;
                width: 14px;
                height: 30px;
                border: 0;
               // border-radius: 50%;
                cursor: pointer;
                transition: background .15s ease-in-out;
            }
            
        }
        
        .range-slider__range-mumbai {
            @extend .range-slider-common;
            &::-webkit-slider-thumb {background: $color-mumbai;}
            &::-moz-range-thumb {background: $color-mumbai;}
        }

        .range-slider__range-la {
           @extend .range-slider-common;
            &::-webkit-slider-thumb {background: $color-la;}
            &::-moz-range-thumb {background: $color-la;}
        }

        .range-slider__range-london {
            @extend .range-slider-common;
            &::-webkit-slider-thumb {background: $color-london;}
            &::-moz-range-thumb {background: $color-london;}
        }

        
        // Firefox Overrides
        ::-moz-range-track {
            background: $range-track-color;
            border: 0;
        }
        
        input::-moz-focus-inner,
        input::-moz-focus-outer { 
            border: 0; 
        }
    }


    .dotContainerPosition-la{
        height: 100%;
        .dots {
            width: 12px;
            height: 12px;

            @include breakpoint ("mobile") {
                width: 5px;
                height: 5px;
            }
        }
    }

    .dotContainerPosition-london{
        height: 100%;

        .dots {
            width: 12px;
            height: 12px;

            @include breakpoint ("mobile") {
                width: 5px;
                height: 5px;
            }
        }
    }

    .dotContainerPosition-mumbai{
        height: 100%;

        .dots {
            width: 10px;
            height: 10px;

            @include breakpoint ("mobile") {
                width: 5px;
                height: 5px;
            }
        }
    }


    .dotContainer {
        position: relative;
        min-width: 1440px;
        width: 1440px;
        left: 50%;
        transform: translate(-50%, 0%);
        
        @include breakpoint ("mobile") {

            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            min-width: unset;
           
        }

        .dots {
            position: absolute;
            border-radius: 50%;
            opacity: 0;
        }
    }

}










