
// Base Colors
$shade-10: #2774c0 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #ffffff !default;
// Range Slider
$range-width: 100% !default;
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal;
$range-handle-size: 20px !default;
$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;
$range-label-color: $shade-10 !default;
$range-label-width: 0px !default;


.graph-vehicle-charges {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 600px;
    max-width: 1440px;
    max-height: 600px;
    background-color: black;
    display: flex;
    flex-direction: row;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;


    @include bgimage("map-la.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .sliderModule {
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0px;
        background-color: rgba(0,0,0,0.2);


        .range-slider {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .range-slider__range {
            -webkit-appearance: none;
            width: calc(100% - (#{$range-label-width + 13px}));
            height: $range-track-height;
            border-radius: 5px;
            background: $range-track-color;
            outline: none;
            padding: 0;
            margin: 0;
        
            // Range Handle
            &::-webkit-slider-thumb {
            appearance: none;
            width: $range-handle-size;
            height: $range-handle-size;
            // border-radius: 50%;
            background: $range-handle-color;
            cursor: pointer;
            transition: background .15s ease-in-out;
        
            &:hover {
                background: $range-handle-color-hover;
            }
            }
        
            &:active::-webkit-slider-thumb {
            background: $range-handle-color-hover;
            }
        
            &::-moz-range-thumb {
            width: $range-handle-size;
            height: $range-handle-size;
            border: 0;
            border-radius: 50%;
            background: $range-handle-color;
            cursor: pointer;
            transition: background .15s ease-in-out;
        
            &:hover {
                background: $range-handle-color-hover;
            }
            }
        }
        
        
        
        
        // Firefox Overrides
        ::-moz-range-track {
            background: $range-track-color;
            border: 0;
        }
        
        input::-moz-focus-inner,
        input::-moz-focus-outer { 
            border: 0; 
        }
    }

}










