

//scss variables :: ----------------

$color-mumbai: #009999;
$color-la: #ff2466;
$color-london: #0e6ce5;


// css variables :: ---------------

// :root {
//     --color-mumbai: #009999; 
//     --color-la: #ff2466; 
//     --color-london: #0e6ce5; 
// }



@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

@import 'intro';
@import 'parking-graph';
@import 'emmissions-graph';
@import 'vehicle-charges';


@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@keyframes scalein {
    from { transform: scale(0);}
    to   { transform: scale(1);}
}




body {
    margin: 0px;
    padding: 0px;
  //  background-color: lightgray;
}

//  #site-intro-animation, 
//  #temp-nav,
//  //.graph-emissions,
//  #graph-parking-LA, 
//  .placeholder ,
//  //.graph-emissions-ls, 
//  .graph-vehicle-charges
// {
//     display: none;
// }


#temp-nav {
    width: 100%;
    padding-bottom: 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
   

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;

        li {
            width: 200px;
            background-color: grey;
            color: white;
            pointer-events: auto;
            cursor: pointer;
            //text-align: center;
            height: 40px;
            margin: 1px 1px;

            display:flex;
            justify-content:center;
            align-items:center;
        }

    }
    font-family: 'Lato', sans-serif;
}





.placeholder {
    width: 100%;
    height: 100px;
  //  background: lightgray;
}
